<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <property name="LOG_PATTERN_CONSOLE"
              value="${LOG_PATTERN_CONSOLE:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="LOG_PATTERN_FILE"
              value="${LOG_PATTERN_FILE:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 配置日志属性，值来源于application.yml/application.properties，需设置默认值， -->
    <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name" defaultValue="WebApplication"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="F:\Windows\tmp\logs"/>
    <springProperty scope="context" name="LOG_FILE_MAX_SIZE" source="logging.logback.rollingpolicy.max-size" defaultValue="1MB"/>
    <springProperty scope="context" name="LOG_FILE_MAX_HISTORY" source="logging.logback.rollingpolicy.max-history" defaultValue="3"/>
    <springProperty scope="context" name="LOG_FILE_TOTAL_SIZE" source="logging.logback.rollingpolicy.total-size-cap" defaultValue="24MB"/>


    <contextName>${APPLICATION_NAME}</contextName>
    <!-- 控制台输出配置 start-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" >
        <encoder>
            <pattern>${LOG_PATTERN_CONSOLE}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- 控制台输出配置 end-->


    <!-- 文件输出配置-INFO start-->
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APPLICATION_NAME}-${LOG_FILE_MAX_SIZE}-${LOG_FILE_MAX_HISTORY}-${LOG_FILE_TOTAL_SIZE}-info.log</file>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <append>true</append>
        </encoder>
        <!-- 主日志文件（按时间+大小滚动） -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info/${APPLICATION_NAME}-info-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter" charset="UTF-8">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 文件输出配置-INFO end-->

    <!-- 文件输出配置-DEBUG start-->
    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APPLICATION_NAME}-debug.log</file>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <append>true</append>
        </encoder>
        <!-- 主日志文件（按时间+大小滚动） -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/debug/${APPLICATION_NAME}-debug-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter" charset="UTF-8">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 文件输出配置-DEBUG end-->

    <!-- 文件输出配置-WARN start-->
    <appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APPLICATION_NAME}-warn.log</file>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <append>true</append>
        </encoder>
        <!-- 主日志文件（按时间+大小滚动） -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/warn/${APPLICATION_NAME}-warn-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter" charset="UTF-8">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 文件输出配置-WARN end-->


    <!-- 文件输出配置-ERROR start-->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APPLICATION_NAME}-error.log</file>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
            <append>true</append>
        </encoder>
        <!-- 主日志文件（按时间+大小滚动） -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/${APPLICATION_NAME}-error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter" charset="UTF-8">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 文件输出配置-ERROR end-->

    <!-- 开发/测试/本地环境时 对应日志配置 start-->
    <springProfile name="dev|test|local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_INFO"/>
            <appender-ref ref="FILE_DEBUG"/>
            <appender-ref ref="FILE_WARN"/>
            <appender-ref ref="FILE_ERROR"/>
        </root>
        <logger additivity="false" name="org.hibernate.SQL" level="DEBUG"><appender-ref ref="CONSOLE"/></logger>
        <logger additivity="false" name="org.hibernate.orm.jdbc.bind" level="DEBUG"><appender-ref ref="CONSOLE"/></logger>
        <logger additivity="false" name="org.example.dao.mapper" level="DEBUG"><appender-ref ref="CONSOLE"/></logger>
    </springProfile>
    <!-- 开发/测试/本地环境时 对应日志配置 end-->

    <!-- 生产环境时 对应日志配置 start-->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_INFO"/>
            <appender-ref ref="FILE_WARN"/>
            <appender-ref ref="FILE_ERROR"/>
        </root>
    </springProfile>
    <!-- 生产环境时 对应日志配置 end-->


</configuration>